<h1>Movies</h1>

<%= link_to 'Create New Movie', new_movie_path if user_signed_in? %>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td>
        <%= link_to 'Show', movie %>
        <%= link_to 'Edit', edit_movie_path(movie) %>
        <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @movies %>
