<h1><%= @movie.title %></h1>
<p><strong>Blurb:</strong> <%= @movie.blurb %></p>
<p><strong>Average Rating:</strong> <%= @movie.average_rating %> / 5</p>

<p><strong>Blurb:</strong> <%= @movie.blurb %></p>
<p><strong>Genres:</strong></p>
<ul>
  <% @movie.genres.each do |genre| %>
    <li><%= genre.name %></li>
  <% end %>
</ul>
<p><strong>Release Date:</strong> <%= @movie.date_released %></p>
<p><strong>Country of Origin:</strong> <%= @movie.country_of_origin %></p>
<p><strong>Showing Start:</strong> <%= @movie.showing_start %></p>
<p><strong>Showing End:</strong> <%= @movie.showing_end %></p>

<h3>Reviews</h3>
<% @reviews.each do |review| %>
  <div>
    <strong><%= review.user.username %> (Rating: <%= review.rating %>)</strong>
    <p><%= review.content %></p>
  </div>
<% end %>

<%= form_with(model: [ @movie, @review ]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :rating %>
    <%= f.select :rating, (1..5).to_a %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit Review' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back to Movies', movies_path %>
